@import '../../styles/main.scss';

$component: 'badge';

$border-width: 3px;

.#{$component} {
  @include button-reset;
  cursor: pointer;
  padding: 10px;
  border-top: $border-width solid transparent;
  border-bottom: $border-width solid transparent;
  background-color: #edf1de;

  &--highlighted {
    border-bottom: $border-width solid #5b6321;
  }
  
  &--disabled {
    background-color: transparent;
    text-decoration: line-through;
  }
}

