$component: 'badge';

.#{$component} {
  cursor: pointer;
  padding: 5px;
  margin: 5px;

  &--highlighted {
    background-color: #ddecae;
  }
  
  &--disabled {
    text-decoration: line-through;
  }
}

