$component: 'badge';

$border-width: 3px;

.#{$component} {
  @include button-reset;
  cursor: pointer;
  padding: 10px;
  margin: 1px;
  border-bottom: $border-width solid transparent;
  background-color: #ddecae;

  &--highlighted {
    border-bottom: $border-width solid #557dd3;
  }
  
  &--disabled {
    background-color: transparent;
    text-decoration: line-through;
  }
}

