$component: 'badge-group';

.#{$component} {
  display: flex;
  flex-direction: row;
  margin: 3px;

  &__name {
    padding: 5px;
    // border: 1px solid black;
    width: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
  }

  &__body {
    // border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%
  }
}

