.card {
  border: 1px solid black;
  width: 200px;
  margin: 3px;
}

.card-header {
  border-bottom: 1px solid black;
  padding: 3px;
  text-align: center;
}

.card-body {
  // border: 1px solid black;
  padding: 3px;
  text-align: justify;
}