@import '../../styles/main.scss';

$component: 'card';

.#{$component} {
  border: 1px solid blue;
  width: 200px;
  margin: 3px;
  
  &__header {
    border-bottom: 1px solid black;
    padding: 3px;
    text-align: center;
  }
  
  &__body {
    // border: 1px solid black;
    padding: 3px;
    text-align: justify;
  }
}

