<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.css")
    title Document
  body
    .root
      .badges 
        .badges-group 
          .badges-group-name Наборы: 
          .badges-group-body
            .badge Базовый
            .badge Время летать
            .badge Подарочный
            .badge Континенты
        .badges-group 
          .badges-group-name Категории: 
          .badges-group-body
            .badge Атака
            .badge Защита
            .badge Паразиты
            .badge Питание
            .badge +n еды
            .badge Парные
      .cards
        .card 
          .card-head Водоплавающее
          .card-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, cum.
        .card 
          .card-head Водоплавающее
          .card-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, cum.
        .card 
          .card-head Водоплавающее
          .card-body Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, cum.
      



