@import 
  'colors',
  'base';

.root {
  max-width: 700px;
  margin: 0px auto;
}

/* badges */

.badges {
  display: flex;
  flex-direction: column;
}

.badges-group {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.badges-group-name {
  padding: 5px;
  // border: 1px solid black;
  width: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.badges-group-body {
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%
}

.badge {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.badge-highlighted {
  background-color: #ddecae;
}

.badge-disabled {
  text-decoration: line-through;
}

/* cards */

.cards {
  display: flex;
}

.card {
  border: 1px solid black;
  width: 200px;
  margin: 3px;

}

.card-head {
  border-bottom: 1px solid black;
  padding: 3px;
  text-align: center;
}

.card-body {
  // border: 1px solid black;
  padding: 3px;
  text-align: justify;
}