@import '../../styles/common.scss';

$component: 'cards-page-view';

.#{$component} {
  max-width: 900px;
  margin: 0px auto;

  &__badge-groups {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

