@import '../../styles/common';

$component: 'button-group';

.#{$component} {
  &__item {
    &--highlighted {
      background-color: antiquewhite;
    }

    &--on {
      border: 3px solid red;
    }

    &--off {
      text-decoration: line-through;
    }
  }
}

